# 📊 Data & ML Core
pandas
numpy
scikit-learn
boto3
python-dotenv

# ☁️ Extensions Cloud pour Pandas (Lecture S3)
fsspec
s3fs

# 📈 MLOps Tracking & Registry
mlflow

# ⚡ Exposition API (FastAPI)
fastapi
uvicorn
pydantic
watchfiles

# 🧪 QA, Tests & Inférence Client
pytest
httpx